@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600;800&family=Open+Sans&display=swap');

body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  font-family: 'Alegreya', sans-serif;
}

h4 {
  color: #46484c;
  font-family: 'Alegreya', sans-serif;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: -10px;
  text-transform: none;
  font-family:sans-serif;
}

.header{
 /*margin: 40px 20px 0px;*/
 margin: 0px 0px 40px;
font-size: 0px;
line-height: 45px;
font-family: sans-serif;
position: fixed;
background-color: #fff;
top: 0;
box-shadow:0px 16px rgba(0, 0, 0,0.5);
}

li{
  display: inline;
}

header >*{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
}

.logo {
  width: 15%;
}
/* los hijos de logo de etiqueta img van a tener el mismo estilo*/
.logo > img {
  width:50%;
}

.navbar{

  text-align: center;
  font-weight: 500;
}

.actions{
  display: flex;
  gap: 12px;
  font-weight: 600;
  text-align: right;
  align-items: center;;
}
.main{
margin-top: 150px;
text-align: center;
}
.menu{
font-size: 14px;
padding: 25px;
color: #025157;
font-family: sans-serif;

}
.button{
color:white;
background-color: #67b54b;
padding-left: 14px;
padding-right: 14px;
padding-top: 12px;
padding-bottom: 12px;
border: 0;
border-radius: 5px;
}

.a{
color:#67b54b;
font-size: 14px;
font-family: sans-serif;
margin: 0px 10px;
}

.promo {
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
  gap:12px;
  
}
.video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video img {
  width: 100px;
  margin-top: 10px;
}
.publish {
  flex: 1;
  gap:20px;
  align-items: center;
}

.publish h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  align-items: center;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

input {
  border: 1px solid #b6b6b6;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 60%;
  max-width: 250px;

}
input, button {
  height: 100%;
  border-radius: 8px;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h3{
  margin-bottom: 0.5rem;
  font-weight: 500; 
  display: block;
  margin-top: 0;
  font-family: 'Alegreya', serif;
}

.features{
  display:grid;
  margin-bottom: 200px;
  /*grid-template-columns: repeat(2,1fr);
  grid-template-rows: 100px 200px;*/
  background-color: #025157;
  padding: 5% 10%;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);/*primero columnas despues*/
}

.features .card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.features .card .content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .card .content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .card .content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .card .content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}
.features .card .content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .card .content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}
.figure {
  margin: 0 0 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.img {
  vertical-align: middle;
  border-style: none;
  width: 76px;
  aspect-ratio: auto 76 / 120;
  
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Alegreya', sans-serif;
}
@media (max-width: 575px){
  .navbar, .actions{
    display: none;
  }
  .h1, h3{
    font-size: 25px;
    align-items: center;
  }
  .main{
  margin-top: 40px;
  align-items: center;
  text-align: center;
  }
  .promo {
    width: 100%; 
    margin:5px;
    display:inline-block;
    align-items: center;
  }
  .poster {
    width: 100%;
    align-items: center;
  }
  .video{
    align-items: center;
  }
  .publish{
    align-items: center;
  }
  .features{
    margin:5px;
    display:inline-block;
    align-items: center;
  }
  .feature-image {
    display: none;
  }

  .video img {
    width: 100px;
    align-items: center;
  }

}

@media (min-width: 576px )  and (max-width: 767px){
  
}

@media (min-width: 768px)  and (max-width: 991px){
  
}
@media (min-width: 992px)  and (max-width: 1199px){
  
}

@media (min-width: 1200) {
  h1{
    font-size: 45px;
  }

}


}